<!-- This page is displayed on successful cancellation of tickets -->

<html>
  <body>
    Your tickets were cancelled successfully.<br>
    Refunds will be processed in 3-4 working days<br>
    <a href="/homepage">Click here</a> to return to homepage.
  </body>
</html>
