<!-- This is the user's homepage -->
<html>
  <body>
    Welcome to the website user.<br>
    Click on the following link to <a href="/search-trains">search trains</a>.<br>
    Click on the following link to <a href="/view-history">view history</a>
  </body>
</html>
