<!--This is the sidebar for customers-->

<div id="sidebar-wrapper">
  <nav>
    <ul class="sidebar-nav">
      <li><a href="/homepage">Home</a></li>
      <li><a href="/history-controller">History</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
  </nav>
</div>
