<!-- This is the page rendered for signup -->
<html>
  <head>
  <title>Sign-Up</title>
  </head>
  <body>
    <form-header>
      <h2>Sign-Up</h2>
      <p align="center"><span class="error">* required field.</span></p>
    </form-header>
    <form-text>
      <form action="/signup-controller" method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-container">
          <fieldset>
            <label for="fullname"><b>Full Name:</b></label>
            <span class="error">*
              <%if (session.signup_error!=null){ %>
              <%if (session.signup_error.name.length > 0) { %>
               <%= session.signup_error.name %>
              <% } %>
              <% } %>
            </span>
            <input type="text" id="fullname" name="fullname" placeholder="Enter your full name" />
            <br>
            <label for="email"><b>Email:</b></label>
            <span class="error">*
              <%if (session.signup_error!=null){ %>
              <%if (session.signup_error.email.length > 0) { %>
               <%= session.signup_error.email %>
              <% } %>
              <% } %>
            </span>
            <input type="email" id="email" name="email" placeholder="Enter your email address" />
            <br>
            <label for="password"><b>Password:</b></label>
            <span class="error">*
              <%if (session.signup_error!=null){ %>
              <%if (session.signup_error.password.length > 0) { %>
               <%= session.signup_error.password %>
              <% } %>
              <% } %>
            </span>
            <input type="password" id="password" name="password" placeholder="Enter password" />
            <br>
            <label for="confirm"><b>Confirm Password:</b></label>
            <span class="error">*
              <%if (session.signup_error!=null){ %>
              <%if (session.signup_error.con_password.length > 0) { %>
               <%= session.signup_error.con_password %>
              <% } %>
              <% } %>
            </span>
            <input type="password" id="confirm" name="confirm" placeholder="Confirm password" />
            <br>
            <button type="submit"/>Create Account</button>
          </fieldset>
        </div>
      </form>
    </form-text>

    <link rel="stylesheet" type="text/css" href="/form.css">
  </body>
</html>
