<!-- Page for preventing unauthorized users from accessing other pages -->
<html>
  <head>Unauthorized Access</head>
  <body>
    You are not authorized to visit this page. Please <a href="/">click here</a> to login to the website.
  </body>
</html>
