<html>
  <body>
    <h2>Update train</h2>
    <form method="post" action = "/load_train_data">
    <p>Enter train id to be updated</p>
    <input type="text" id="train_id">
    <input type="submit" id="okbtn" value="OK">
  </form>
  </body>
</html>
